<app-navbar></app-navbar>
<div class="product-form">
  <form [formGroup]="productForm" (ngSubmit)="submitForm()">
    <div *ngIf="currentStep === 1">
      <h2>Step 1: Product Information</h2>
      <label>Name:</label>
      <input type="text" formControlName="name" />
      <label>Description:</label>
      <textarea formControlName="description"></textarea>
      <label>Price:</label>
      <input type="number" formControlName="price" />
      <label>Brand:</label>
      <input type="text" formControlName="brand" />
    </div>
    <div *ngIf="currentStep === 2">
      <h2>Step 2: Product Images</h2>
      <label>Images:</label>
      <input type="file" formControlName="images" />
    </div>
    <div *ngIf="currentStep === 3">
      <h2>Step 3: Product Tags</h2>
      <label>Tags:</label>
      <input type="text" formControlName="tags" />
    </div>
    <div class="buttons">
      <button type="button" (click)="prevStep()" [disabled]="currentStep === 1">
        Previous
      </button>
      <button type="button" (click)="nextStep()" [disabled]="currentStep === 3">
        Next
      </button>
      <button type="submit" *ngIf="currentStep === 3">Submit</button>
    </div>
  </form>
</div>
