<div class="container">
  <div class="logo">
    <img src="./../../assets/images/logo.png" alt="" />
  </div>
  <div class="controls">
    <div class="control__left">
      <img src="./../../assets/images/Battery Bank.png" alt="" width="120px" />
    </div>
    <div class="control__right">
      <select name="cars" class="dropdown">
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
      </select>
      <select name="cars" class="dropdown">
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
      </select>
      <div class="icon">
        <img src="./../../assets/images/info.png" alt="" />
      </div>
      <div class="icon">
        <img src="./../../assets/images/Icon/Solid/chart-bar.png" alt="" />
      </div>
    </div>
  </div>
  <div class="info">
    <div class="info__left">
      <p class="info__header">Power Bank</p>
      <p class="info__sub">ID: 2304F041</p>
    </div>
    <div class="info__right">
      <h3 class="info__headerRight">
        72.3<span class="info__headerUnit">watts</span>
      </h3>

      <p class="info__sub">2000 Mah capacity</p>
    </div>
  </div>
  <div class="stats">
    <div class="stats__left">
      <div>
        <div class="card">
          <span class="stats__sub">Temparature</span>
          <p class="stats__header">20°</p>
          <span class="stats__sub2">Celcius</span>
        </div>
        <div class="card">
          <img src="./../../assets/images/meter.png" alt="" />
        </div>
      </div>
      <div>
        <div class="card">
          <p class="stats__header">20h</p>
          <span class="stats__sub2">Remaining</span>
        </div>

        <div class="card">
          <span class="stats__sub">Voltage</span>
          <p class="stats__header2">45.8kwh</p>
          <p class="stats__header2">185.2kwh</p>
        </div>
      </div>
    </div>
    <div class="stats__middle">
      <img src="./../../assets/images/bettary.png" alt="" />
    </div>
    <div class="stats__right">
      <div class="card2">
        <div>
          <img
            src="./../../assets/images/Icon/Outline/shield-check.png"
            alt=""
          />
        </div>
        <div>
          <span class="stats__sub">Your Device is</span>
          <p class="stats__header2">Unlocked</p>
        </div>
        <div>
          <div>
            <img src="./../../assets/images/tick.png" alt="" />
          </div>
        </div>
      </div>
      <div class="stats__rightBottom">
        <div class="card">
          <span class="stats__sub">Current</span>
          <p class="stats__header2">45.8kwh</p>
          <p class="stats__header2">185.2kwh</p>
        </div>
        <div class="card">
          <span class="stats__sub">Energy</span>
          <p class="stats__header2">45.8kwh</p>
          <p class="stats__header2">185.2kwh</p>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="chart__container">
    <div> -->
  <app-chart></app-chart>
  <!-- </div>
  </div> -->
</div>
